*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    overflow: hidden;
}
.container img{
    width: 100%;
    transition: all 1s;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 1s;
    background-color: black;
    transform: translateX(-100%);
}
.container:hover .content{
    transform: translateX(0);
}
.container:hover img{
    transform: translateX(100%);
}